<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Document</title>
<style>
          body{
                    display: flex;
                    flex-direction: column;
                    margin: 2px;
          }
          .menu{
                    display: flex;
                    justify-content: space-around;
                    background-color: rgb(2, 100, 104);
          }
          .menu a{
                    font-size: 25px;
                    font-weight: bolder;
                    color: rgb(255, 253, 253);
                    text-decoration: none;
          }
</style>
</head>    
<body>
          <div class="menu">
                    <a href="/add">ADD STUDENT</a>
                     <a href="/search"> SEARCH STUDENT</a>
                      <a href="/update">UPDATE STUDENT</a>
                       <a href="/delete">DELETE STUDENT</a>
                        <a href="/view">VIEW STUDENT</a>
          </div>
</body>
</html>